html, body {
    padding: 0;
    margin: 0;
}
p{
    font-family: "Libre Franklin";
    font-size: 160%;
    padding: 15%;
    text-align: center; 
    vertical-align: middle;
}

a:link { 
    color: black; 
    text-decoration: none; 
    font-weight: normal; 
}

a:visited { 
    color: black; 
    text-decoration: none; 
    font-weight: normal; 
}

a:hover { 
    color: blue; 
    text-decoration: none; 
    font-weight: none; 
}

.row {
    display: flex;
}
  
.column-left {
    flex: 40%;
    float: left;
    display: flex;
    justify-content: center;
    height: 500px;
}

.child{
    position: absolute;
    top: 50%;
    position: relative;
}

.column-right {
    flex: 60%;
    float: left;
    height: 500px;
}

.allign_text{
    text-align: center; 
    vertical-align: middle;
}

.font{
    font-family: "Libre Franklin";
}

#pfp{
    height: 200px; 
    width: 150px; 
    object-fit: cover;
}
